asgiref==3.8.1
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
Django==4.2
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
idna==3.10
pdfminer==20191125
pdfminer.six==20250506
pycparser==2.22
pycryptodome==3.23.0
PyJWT==2.9.0
python-decouple==3.8
python-magic==0.4.27
requests==2.32.4
rest-framework-simplejwt==0.0.2
sqlparse==0.5.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.5.0
psycopg2-binary==2.9.12
