SECRET_KEY=
DEBUG=Tru
ALLOWED_HOSTS=*
INTERNAL_SERVICE_TOKEN=

JOB_SERVICE_URL=http://job-service:8000
APPLICATION_SERVICE_URL=http://application-service:8002
MATCHING_SERVICE_URL=http://matching-service:8003
CELERY_BROKER_URL=redis://redis:6379/0